html, body {
  height: 100%;
  width: 100%;
}
.flex-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
				flex-wrap: wrap;
				background: #da377e;
				width: 350px;
				height: 60px;
}
.navigation{
		background: #b33c6f;
				color: white;
				padding: 2px;
				height: 30px;
				width: 80px;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
body{
				background:silver ;
}
a{
				color: white;
				text-decoration: none;
}
.education{
				display: inline-flex;
				flex-wrap: wrap;
				width: 350px;
				height: auto;
				background: #ac1d5c;
				justify-content: space-around;
}
.mypic{
				width: 100px;
				margin: 0 auto;
				
}
img[src]{
width: 110px;
height: 200px;
				border-radius: 50%;
				
}
marquee{
				color: #da37a2;
}
.myeducation{
				display: grid;
				grid-template-columns: repeat(3,1fr);
				width: auto;
				height: 304px;
				column-gap: 10px;
				background: #ff80b3;
}
.div{
text-align: center;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
				width: 100px;
				height: 300px;}
				
				
				/*For my contact page*/
.contact-information{
				display:grid;
				grid-template-columns: repeat(1,1fr);
				width: auto;
				height: 100px;
				column-gap: 10px;
				
}
.contact-info{
background: #ed2892;
				text-align: center;
				box-shadow: rgba(100, 100, 100, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
				width:auto;
				height: 60px;
				
}
.contact-container{
				display:grid;
				grid-template-columns: repeat(1,1fr);
				width: auto;
				height: 100px;
				column-gap: 10px;
}
.contact-cont{
				background:#c341a8 ;
				text-align: center;
				box-shadow: rgba(100, 100, 100, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
				width:auto;
				height:250px ;
}
